/* DEFAULT STYLES */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

/* Default Range Slider */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 4rem; /* Specific width is required for Firefox. */
  background: var(--keypad-color); /* Otherwise white in Chrome */
  border-radius: 4rem;
  padding: 0.25rem;
  margin: 0;
  transition: 100ms;
  cursor: pointer;
}

input[type="range"]:hover {
  width: 4rem; /* Specific width is required for Firefox. */
  background: var(--screen-color); /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background: var(--key-red-bg-color);
  cursor: pointer;
  margin-top: 0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  transition: 150ms;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--key-red-hover-color);
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* COLOR THEMES */
:root,
:root.light {
  --bg-color: hsl(0, 0%, 90%);
  --text-color: hsl(60, 10%, 19%);
  --screen-color: hsl(0, 0%, 93%);
  --keypad-color: hsl(0, 5%, 81%);
  --key-bg-color: hsl(45, 7%, 89%);
  --key-text-color: hsl(60, 10%, 19%);
  --key-shadow-color: hsl(35, 11%, 61%);
  --key-hover-color: hsl(0, 0%, 100%);
  --key-red-bg-color: hsl(25, 98%, 40%);
  --key-red-text-color: hsl(0, 0%, 100%);
  --key-red-shadow-color: hsl(25, 99%, 27%);
  --key-red-hover-color: hsl(6, 63%, 60%);
  --key-blue-bg-color: hsl(185, 42%, 37%);
  --key-blue-text-color: hsl(0, 0%, 100%);
  --key-blue-shadow-color: hsl(185, 58%, 25%);
  --key-blue-hover-color: hsl(225, 21%, 65%);
}

:root.dark {
  --bg-color: hsl(222, 26%, 31%);
  --text-color: hsl(0, 0%, 100%);
  --screen-color: hsl(224, 36%, 15%);
  --keypad-color: hsl(223, 31%, 20%);
  --key-bg-color: hsl(0, 0%, 85%);
  --key-text-color: hsl(221, 14%, 31%);
  --key-shadow-color: hsl(0, 0%, 60%);
  --key-hover-color: hsl(0, 0%, 100%);
  --key-red-bg-color: hsl(6, 63%, 50%);
  --key-red-text-color: hsl(0, 0%, 100%);
  --key-red-shadow-color: hsl(6, 70%, 34%);
  --key-red-hover-color: hsl(6, 63%, 60%);
  --key-blue-bg-color: hsl(225, 21%, 49%);
  --key-blue-text-color: hsl(0, 0%, 100%);
  --key-blue-shadow-color: hsl(224, 28%, 35%);
  --key-blue-hover-color: hsl(225, 21%, 65%);
}

:root.acid {
  --bg-color: hsl(268, 75%, 9%);
  --text-color: hsl(52, 100%, 62%);
  --screen-color: hsl(268, 71%, 12%);
  --keypad-color: hsl(268, 71%, 12%);
  --key-bg-color: hsl(268, 47%, 21%);
  --key-text-color: hsl(52, 100%, 62%);
  --key-shadow-color: hsl(290, 70%, 36%);
  --key-hover-color: hsl(268, 47%, 30%);
  --key-red-bg-color: hsl(176, 100%, 44%);
  --key-red-text-color: hsl(198, 20%, 13%);
  --key-red-shadow-color: hsl(177, 92%, 70%);
  --key-red-hover-color: hsl(176, 100%, 54%);
  --key-blue-bg-color: hsl(281, 89%, 26%);
  --key-blue-text-color: hsl(0, 0%, 100%);
  --key-blue-shadow-color: hsl(285, 91%, 60%);
  --key-blue-hover-color: hsl(281, 89%, 30%);
}

/* MAIN CSS */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
  max-width: 32rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 1rem;
  position: relative;
}

@media (max-width: 550px) {
  body {
    max-width: 24rem;
  }
}

@media (max-width: 400px) {
  body {
    max-width: 20rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container {
  width: 100%;
  margin: 0 auto 1.5rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  margin-bottom: -0.15rem;
}

.themes {
  display: flex;
  text-transform: uppercase;
  align-items: flex-end;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  gap: 1.25rem;
}

.themes p {
  margin-bottom: 0.125rem;
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.indicator {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.screen {
  background-color: var(--screen-color);
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.5rem;
}

#displayTotal {
  text-align: right;
  font-size: 3rem;
}

#count {
  display: none;
  text-align: right;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.keypad {
  background-color: var(--keypad-color);
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.25rem;
}

.key {
  background-color: var(--key-bg-color);
  color: var(--key-text-color);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  max-height: 4rem;
  padding: 1.1rem 0 0.75rem 0;
  border-radius: 0.35rem;
  cursor: pointer;
  transition: 100ms;
  box-shadow: 0 4px 0 var(--key-shadow-color);
}

.key:hover {
  background-color: var(--key-hover-color);
}

.key:active {
  box-shadow: none;
  transform: translateY(4px);
}

.key.blue {
  font-size: 1.5rem;
  background-color: var(--key-blue-bg-color);
  color: var(--key-blue-text-color);
  box-shadow: 0 4px 0 var(--key-blue-shadow-color);
}

.key.blue:hover {
  background-color: var(--key-blue-shadow-color);
}

.key.blue:active {
  box-shadow: none;
  transform: translateY(4px);
}

.key.red {
  background-color: var(--key-red-bg-color);
  color: var(--key-red-text-color);
  box-shadow: 0 4px 0 var(--key-red-shadow-color);
}

.key.red:hover {
  background-color: var(--key-red-shadow-color);
}

.key.red:active {
  box-shadow: none;
  transform: translateY(4px);
}

.key#reset {
  grid-column: 1 / span 2;
}

.key#equals {
  grid-column: 3 / span 2;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  position: absolute;
}
